<!-- About Section -->
<section class="site-section about-section next-section-indicator" id="about">
  <div class="container">

    <!-- Section Heading -->
    <div class="row text-center">

      <!-- Section Header -->
      <header class="col-md-8 col-md-push-2 col-sm-12 section-header">
        <h2>{{ site.about-title }}</h2>
        <hr class="normal">
      </header>

      <!-- Section Content -->
      <div class="col-md-8 col-md-push-2 col-sm-12 section-content">
        <p>In the not-so-distant future, Starblaze has outpaced its megacorp rivals to become the premier name in intragalactic logistics, ferrying precious cargo between star systems at a pace once thought impossible.</p>
        <p>Still, accidents happen: there are serious threats that lurk in the sprawling voids of space, and freighters occasionally go offline. In such cases, Starblaze calls in its Core Retrieval Forces (CRFs) to recover the costly plutonium cores that power its fleet’s spaceflight.</p>
        <p>In DERELICT, you’ll play as a member of one such CRF — underpaid, overexploited, and all in all too old for this crap. As you race to recover the nuclear core at the heart of a derelict spaceship, you’ll have to be ready for anything: there’s more out there than EMP blasts and asteroids.</p>
        <p>When the going gets tough, though, just remember: “Starblaze Believes in Humanity” (just not health insurance).</p>

      </div>

    </div>

  </div>
</section>
