
<!-- Site Navigation Bar -->
<div class="row site-navigation-bar parent">

    <!-- Logo -->
    <div class="col-sm-2 col-xs-4 logo child-center-v" style="color:white;font-size:x-large">
        <a href="{{ site.baseurl }}/index.html">
            <!--          Wax River-->
            <img src="{{ site.baseurl }}/images/logos/logo.png" width="150"
                 alt="Wax River" class="hidden-xs">
            <img src="{{ site.baseurl }}/images/logos/logo_black.png" width="150"
                 alt="Wax River" class="visible-xs hidden-sm hidden-md hidden-lg">
        </a>
    </div>

    <!-- Toggle Mobile Menu -->
    <div class="col-xs-8 toggle-menu child-center-v">

        <!-- Burger -->
        <div class="navTrigger">
            <i></i><i></i><i></i>
        </div>

    </div>

    <!-- Navigation Bar -->
    <div class="col-sm-10 col-xs-12 navigation-bar child-center-v">

        <!-- Navigation Menu -->
        <nav id="navMenu" class="nav-menu">
            <ul class="menu">
                <li class="current-menu-item"><a href="#home">Home</a></li>
                <li><a href="{{ site.baseurl }}/index.html#about">About</a></li>
                <li><a href="{{ site.baseurl }}/index.html#features">Features</a></li>
                <!--            <li><a href="#portfolio">Portfolio</a></li>-->
                <!--            <li><a href="#testimonials">Testimonials</a></li>-->
                <li><a href="{{ site.baseurl }}/index.html#blog">Blog</a></li>
                <li><a href="{{ site.baseurl }}/index.html#team">Team</a></li>
                <!--            <li><a href="#prices">Prices</a></li>-->
                <li><a href="{{ site.baseurl }}/index.html#contact">Contact</a></li>
            </ul>
        </nav>

    </div>
</div>